<div class="login-page">
  
    <div class="login">
    
      <h2 class="login-part">Login</h2>
    
      <form class="login-form">
      
      <div class="login-entry">
        <label for="username-entry">Username:</label>
        <input class="form-input" type="text" id="username-entry" />
      </div>

       <div class="login-entry">
        <label for="email-entry">Email:</label>
        <input class="form-input" type="text" id="email-entry" />
      </div>

      <div class="login-entry">
        <label for="password-entry">Password:</label>
        <input class="form-input" type="password" id="password-entry" />
      </div>
      
      <div class="login-entry">
        <button class="submit-btn" type="submit">Welcome Back!</button>
      </div>
    
      </form>
  
    </div>
  
  <div class="signup">
    
    <h2 class="signup-part">Signup</h2>
    
    <form class="signup-form">
      
      <div class="signup-entry">
        <label for="signup-user">Username:</label>
        <input class="form-input" type="text" id="signup-user" />
      </div>
      
        <div class="signup-entry">
        <label for="signup-user">First Name:</label>
        <input class="form-input" type="text" id="signup-first" />
      </div>

        <div class="signup-entry">
        <label for="signup-user">Last Name:</label>
        <input class="form-input" type="text" id="signup-last" />
      </div>

      <div class="signup-entry">
        <label for="signup-email">Email:</label>
        <input class="form-input" type="text" id="signup-email" />
      </div>
      
      <div class="signup-entry">
        <label for="signup-password">Password:</label>
        <input class="form-input" type="password" id="signup-password" />
      </div>
      
      <div class="signup-entry">
        <button class="join-btn" type="submit">Come Join Us!</button>
      
      </div>
   
    </form>
  
  </div>

</div>



<script src="/javascript/login.js"></script>