<div class="personal-page">

<div class="personal">
    
    <h2 class="personal-part">Personal Info</h2>
    
    <form class="personal-parts">
      
    <!--Image-->
    
    <div>
        <img src=" ">
    </div>      
    
    <!--Name-->
  
    <div class="login-entry">
        <label for="username-entry">Username:</label>
        <input class="form-input" type="text" id="username-entry" />
      </div>

    <div class="login-entry">
        <label for="username-entry">Username:</label>
        <input class="form-input" type="text" id="username-entry" />
      </div>

    <!--Username-->

    <div class="login-entry">
        <label for="username-entry">Username:</label>
        <input class="form-input" type="text" id="username-entry" />
      </div>

    <!--Email-->

    <div class="login-entry">
        <label for="email-entry">Email:</label>
        <input class="form-input" type="text" id="email-entry" />
    </div>

    <!--Password-->

    <div class="login-entry">
        <label for="password-entry">Password:</label>
        <input class="form-input" type="password" id="password-entry" />
      </div>

</div>